.tour-choose__main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (max-width: 1250px) {
  .tour-choose__main {
    gap: 15px;
  }
}


@media screen and (max-width: 1024px) {
  .tour-choose__main {
    justify-content: center;
    gap: 18px;
  }
}