.reviews__card {
  background: #F4F0E9;
  width: 570px;
  height: 673px;
  border-radius: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.reviews__card:nth-of-type(2) {
  margin-left: 30px;
}


@media screen and (max-width: 1024px) {
  .reviews__card {
    width: 450px;
    height: 841px;
  }

  .reviews__card:nth-of-type(2) {
    margin-left: 18px;
  }
}