.tour-history__wrapper {
  position: relative;
  border-radius: 50px;
  width: 100%;
  height: 567px;
  margin-bottom: 50px;
  overflow: hidden;
}

.tour-history__wrapper:hover .tour-history__card {
  transform: scale(1.2);
  cursor: pointer;
}

.tour-history__wrapper:hover .tour-history__card-link {
  background: #286562;
  border-radius: 50px;
  font-size: 23px;
  height: 30px;
  width: 157px;
}


.tour-history__wrapper:nth-of-type(3) {
  margin: 0;
}



@media screen and (max-width: 1024px) {
  .tour-history__wrapper {
    width: 918px;

  }
}

@media screen and (max-width: 1000px) {
  .tour-history__wrapper {
    width: 750px;
    height: 500px;
  }
}

@media screen and (max-width: 760px) {
  .tour-history__wrapper {
    width: 500px;
    height: 650px;
  }
}

@media screen and (max-width: 500px) {
  .tour-history__wrapper {
    width: 318px;
    height: 455px;
    margin-bottom: 20px;
    border-radius: 20px;
  }

  .tour-history__wrapper:hover .tour-history__card-link {

    font-size: 16px;
    height: 20px;
    width: 130px;
  }
}

@media screen and (max-width: 360px) {
  .tour-history__wrapper {
    width: 318px;
    height: 455px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
}