.tour-assemble__button-reset {
  padding: 0;
  border: none;
  width: 235px;
  height: 58px;
  background: #E0F0E5;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #286562;
}

.tour-assemble__button-reset:hover {
  cursor: pointer;
  background: #F1F3F2;
}


@media screen and (max-width: 360px) {
  .tour-assemble__button-reset {
    font-size: 16px;
    line-height: 142%;
    width: 134px;
    height: 47px;
    margin: 0;
  }
}