.header__menu {
  display: flex;
  gap: 50px;
  list-style: none;
}

@media screen and (min-width: 1920px) {
  .header__menu {
    width: 40%;
    justify-content: space-between;
  }
}


@media screen and (max-width: 1000px) {
  .header__menu {
    width: 440px;
  }
}

@media screen and (max-width: 750px) {
  .header__menu {
    display: none;

  }
}