.scroll {
  position: fixed;
  visibility: hidden;
  max-width: 1920px;
  width: 100%;
  height: 0;
  opacity: 1;
  font-family: 'Iner', sans-serif;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
}


@media screen and (max-width: 1024px) {
  .scroll {
    max-width: 1024px;
    width: 100%;
  }
}


@media screen and (max-width: 1000px) {
  .scroll {
    max-width: 1000px;
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .scroll {
    max-width: 500px;
  }
}

@media screen and (max-width: 360px) {
  .scroll {
    max-width: 360px;
  }
}