.scroll {
  position: fixed;
  width: 1920px;
  height: 88px;
  display: none;
  align-items: center;
  justify-content: center;
  font-family: 'Iner', sans-serif;
  background: rgba(243, 239, 232, 0.6);
  backdrop-filter: blur(27px);
}


@media screen and (max-width: 1024px) {
  .scroll {
    width: 1024px;
  }
}

@media screen and (max-width: 360px) {
  .scroll {
    width: 360px;
  }
}