.tour-assemble__wrapper-radio {
  max-width: 1030px;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1250px) {
  .tour-assemble__wrapper-radio {
    width: 930px;
  }
}

@media screen and (max-width: 1024px) {
  .tour-assemble__wrapper-radio {
    margin-top: -10px;
    width: 798px;
  }
}


@media screen and (max-width: 940px) {
  .tour-assemble__wrapper-radio {

    width: 550px;

  }
}

@media screen and (max-width: 750px) {
  .tour-assemble__wrapper-radio {
    width: 390px;

  }
}


@media screen and (max-width: 500px) {
  .tour-assemble__wrapper-radio {
    width: 278px;
    height: 54px;
    margin-top: 30px;
  }
}