.tour-choose__link {
  /*margin-top: 277px;*/
  /*margin-right: 94px;*/
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #FFFFFF;
  padding: 7px 20px;
  position: absolute;
  top: 453px;
  left: 30px;
}





@media screen and (max-width: 1000px) {
  .tour-choose__link {
    top: 453px;
  }
}




@media screen and (max-width: 500px) {
  .tour-choose__link {
    top: 269px;
    left: 25px;
    padding: 4px 8px 4px 8px;
    margin-right: 155px;
    width: 110px;

    font-size: 15px;
    line-height: 142%;

  }
}