.tour-assemble__button-search {
  padding: 0;
  width: 235px;
  height: 58px;
  border: none;
  background: #286562;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  margin-right: 30px;
  color: #FFFFFF;
  margin-bottom: 70px;
}



.tour-assemble__button-search:hover {
  cursor: pointer;
  background: #3B7E7B;
}

.tour-assemble__button-search:active {
  background: #627F7E;
}


@media screen and (max-width: 750px) {
  .tour-assemble__button-search {
    width: 170px;
  }


}

@media screen and (max-width: 500px) {
  .tour-assemble__button-search {
    font-size: 16px;
    line-height: 142%;
    width: 134px;
    height: 47px;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 40px;
    margin-left: 20px;
    margin-top: 30px;
  }
}