.tour-chooose__wrapper {
  position: relative;
  border-radius: 50px;
  width: 370px;
  height: 531px;
  overflow: hidden;
}

.tour-chooose__wrapper:hover .tour-choose__card {
  transform: scale(1.2);
  cursor: pointer;
}

.tour-chooose__wrapper:hover .tour-choose__link {
  width: 157px;
  height: 30px;
  font-size: 23px;
  background: #286562;
  border-radius: 50px;
}


@media screen and (max-width: 1250px) {
  .tour-chooose__wrapper {
    width: 320px;
  }
}


@media screen and (max-width: 1024px) {
  .tour-chooose__wrapper {
    width: 450px;
  }
}

@media screen and (max-width: 1000px) {
  .tour-chooose__wrapper {
    width: 350px;
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 760px) {
  .tour-chooose__wrapper {
    width: 400px;

  }
}


@media screen and (max-width: 500px) {
  .tour-chooose__wrapper {
    width: 318px;
    height: 318px;
    border-radius: 20px;

  }
}