.tour-assemble__checkbox {
  width: 26px;
  height: 26px;
  margin-right: 16px;
  position: relative;
}

.tour-assemble__checkbox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid black;

}

.tour-assemble__checkbox:checked:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/strelka.svg);
  background-size: 50% 50%;
  background-position: center;
  background-repeat: no-repeat;
}


@media screen and (max-width: 750px) {
  .tour-assemble__checkbox {
    width: 25px;
  }
}


@media screen and (max-width: 500px) {
  .tour-assemble__checkbox {
    width: 23px;
    height: 21px;
    margin-right: 5px;
  }

  .tour-assemble__checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid black;

  }

  .tour-assemble__checkbox:checked:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 100%;
    background-image: url(../../../images/strelka.svg);
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;
  }
}