.tour-assemble__checkbox {
  width: 26px;
  height: 26px;
  margin-right: 16px;
  position: relative;
}

.tour-assemble__checkbox::after {
  content: "";
  width: 23px;
  height: 23px;

  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid black;
}

@media screen and (max-width: 360px) {
  .tour-assemble__checkbox {
    width: 20px;
    height: 20px;
  }

  .tour-assemble__checkbox::after {
    content: "";
    width: 10px;
    height: 11px;
    position: absolute;
    top: 3px;
    left: 0;
    border: 2px solid black;
  }
}