.scroll__menu {
  display: flex;
  gap: 50px;
  list-style: none;
}

@media screen and (min-width: 1920px) {
  .scroll__menu {
    justify-content: space-between;
    width: 40%;
  }
}

@media screen and (max-width: 1000px) {
  .scroll__menu {
    width: 440px;
  }
}