.tour-history__card-title {
  margin: 0;
  margin-top: 60px;
  margin-left: 60px;
  width: 554px;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  /* identical to box height, or 43px */


  /* White */

  color: #FFFFFF;

}

@media screen and (max-width: 360px) {
  .tour-history__card-title {
    width: 230px;
    font-size: 23px;
    line-height: 120%;
    margin-top: 30px;
    margin-left: 30px;
  }
}