.header__nav {
  padding-top: 29px;
  width: 1168px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1250px) {
  .header__nav {
    width: 950px;

  }
}

@media screen and (min-width: 1920px) {
  .header__nav {
    width: 80%;

  }
}


@media screen and (max-width: 1000px) {
  .header__nav {
    max-width: 730px;
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .header__nav {
    max-width: 485px;
    width: 100%;
    padding-top: 33px;

  }
}

@media screen and (max-width: 500px) {
  .header__nav {
    width: 360px;
    padding-top: 33px;

  }
}

@media screen and (max-width: 360px) {
  .header__nav {
    width: 320px;
    padding-top: 33px;

  }
}