.header__logo {
  object-fit: contain;
}

@media screen and (min-width: 1920px) {
  .header__logo {
    width: 230px;

  }
}

@media screen and (max-width: 1920px) {
  .header__logo {
    width: 181.84px;
    height: 30.24px;
  }
}


@media screen and (max-width: 1000px) {
  .header__logo {
    width: 125px;
    height: 25px;
  }
}

@media screen and (max-width: 500px) {
  .header__logo {
    width: 133px;
    height: 22px;
    object-fit: contain;
  }
}