.reviews__profile {
  margin-bottom: 40px;
  align-self: flex-end;
  width: 510px;
  height: 145px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
}

@media screen and (max-width: 1250px) {
  .reviews__profile {
    width: 470px;

  }
}


@media screen and (max-width: 1024px) {
  .reviews__profile {
    width: 380px;

  }
}


@media screen and (max-width: 360px) {
  .reviews__profile {
    width: 285px;
    height: 115px;
    margin-bottom: 20px;
  }
}