.footer__title {
  margin: 0;
  margin-left: 19.58%;
  margin-right: 27.45%;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
}

@media screen and (max-width: 1250px) {
  .footer__title {
    margin-left: 15%;
    margin-right: 21%;
  }
}

@media screen and (max-width: 1024px) {
  .footer__title {
    margin-left: 53px;
    margin-right: 277px;
  }
}

@media screen and (max-width: 500px) {
  .footer__title {
    margin: 0;
    margin-top: 21px;
    width: 177px;
    font-size: 16px;
    line-height: 142%;
  }
}