.footer__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
}

@media screen and (min-width: 1920px) {
  .footer__title {
    font-size: 35px;

  }
}

@media screen and (max-width: 1920px) {
  .footer__title {
    font-size: 20px;

  }
}

@media screen and (max-width: 1250px) {
  .footer__title {}
}

@media screen and (max-width: 1024px) {
  .footer__title {
    max-width: 230px;
    width: 100%;

  }
}


@media screen and (max-width: 920px) {
  .footer__title {
    font-size: 25px;
    max-width: 400px;
    width: 100%;
    text-align: center;



  }
}

@media screen and (max-width: 500px) {
  .footer__title {
    margin: 0;
    margin-top: 21px;
    max-width: 300px;
    text-align: center;
    font-size: 16px;
    line-height: 142%;
  }
}