.header__number {
  margin: 0;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
}

@media screen and (max-width: 360px) {
  .header__number {
    font-size: 16px;
    line-height: 142%;
  }
}