.tour-history__card_type_3 {
  background-image: linear-gradient(270deg,
      rgba(0, 0, 0, 0) 0.01%,
      rgba(0, 0, 0, 0.2) 100%),
    url(../../../../images/story-photo-3.png);
}

@media screen and (max-width: 1024px) {
  .tour-history__card_type_3 {
    background-image: linear-gradient(270deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.2) 100%),
      url(../../../../images/story-photo-3-1024.png);

  }
}

@media screen and (max-width: 500px) {
  .tour-history__card_type_3 {
    background-image: linear-gradient(270deg,
        rgba(0, 0, 0, 0) 0.01%,
        rgba(0, 0, 0, 0.2) 100%),
      url(../../../../images/story-photo-3-360.png);

  }
}