.header__link {
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .header__link {
    font-size: 16px;
    line-height: 142%;
  }
}


.header__link:hover {
  border-bottom: solid white 2px;
}