.tour-history__card-link {
  display: inline-block;
  margin: 0;
  margin-left: 60px;
  margin-top: 115px;

  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #FFFFFF;
}


.tour-history__card-link:hover {
  color: gold;
}