.tour-assemble__input {
  padding: 0;
  margin-top: 8px;
  height: 68px;
  background: #F9F7F4;
  box-sizing: border-box;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;

}