.scroll__number {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
}

@media screen and (max-width: 360px) {
  .scroll__number {
    height: 28px;
    width: 155px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 142%;
  }
}