.tour-history {
  width: 1170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 135px;
}


@media screen and (max-width: 1024px) {
  .tour-history {
    width: 1024px;
  }
}