@media screen and (max-width: 500px) {
  .tour-assemble__checkbox-span-dogovor {
    position: absolute;
    top: 20px;
    right: 111px;
  }

  .tour-assemble__checkbox-span-dogovor:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
  }


}