.footer__wrapper {
  width: 60.83%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 1300px) {
  .footer__wrapper {
    width: 80%;

  }
}

@media screen and (max-width: 920px) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}