.reviews__title-card {
  margin: 0;
  width: 415px;
  font-style: normal;
  /* font-weight: 500;*/
  font-weight: 700;
  font-size: 35px;
  line-height: 122%;
  color: #1B1F2B;
}

@media screen and (max-width: 1250px) {
  .reviews__title-card {
    width: 390px;
  }
}


@media screen and (max-width: 1024px) {
  .reviews__title-card {
    width: 295px;

  }
}

@media screen and (max-width: 360px) {
  .reviews__title-card {
    width: 203px;
    font-size: 23px;
    line-height: 120%;
  }
}