.email-block__foto {
  border-radius: 50px;
  width: 371px;
  height: 370px;
  object-fit: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {
  .email-block__foto {
    width: 150px;
    height: 153px;
    border-radius: 20px;

  }
}