.tour-choose__card_type_1 {
  background-image: linear-gradient(360deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.06) 48.44%,
      rgba(0, 0, 0, 0.5) 100%),
    url(../../../../images/cardtour1.png);
  transition: scale 300ms ease;


}

.tour-choose__card_type_1:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-size: cover;
  transition: all .3s ease-in-out;
}

.tour-choose__card_type_1:hover:before {
  transform: scale(1.2);
}


@media screen and (max-width: 500px) {
  .tour-choose__card_type_1 {
    background-image: linear-gradient(360deg,
        rgba(0, 0, 0, 0.4) 0%,
        rgba(0, 0, 0, 0.06) 48.44%,
        rgba(0, 0, 0, 0.5) 100%),
      url(../../../../images/cardtour1-360.png);
  }


}

/*

*/