.header__button {
  margin-top: 55px;
  padding: 0;
  border: 0;
  background: #FFFFFF;
  border-radius: 10px;
  width: 118px;
  height: 34px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  /* or 24px */

  letter-spacing: -0.01em;

  /* Black */

  color: #1B1F2B;
}

.header__button:hover {
  cursor: pointer;
  background-color: gold;
}



@media screen and (max-width: 360px) {
  .header__button {
    margin-top: 40px;

  }
}