.tour-assemble__checkbox-span {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #1B1F2B;
  margin-left: 5px;
}

.tour-assemble__checkbox-span:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}




@media screen and (max-width: 750px) {
  .tour-assemble__checkbox-span {
    margin-left: 0;
    position: absolute;
    top: 20px;
    left: 41px;
  }
}

@media screen and (max-width: 500px) {
  .tour-assemble__checkbox-span {
    margin: 0;
    width: 120px;
    top: 22px;
    left: 90px;
  }



  .tour-assemble__checkbox-span:hover .tour-assemble__checkbox-span-dogovor {
    border-bottom: 2px solid black;
  }
}