.tour-choose__price {
  margin: 0;
  margin-top: 16px;
  width: 270px;
  height: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  /* or 24px */

  letter-spacing: -0.01em;

  /* White */

  color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
  .tour-choose__price {
    width: 350px;

  }
}


@media screen and (max-width: 1000px) {
  .tour-choose__price {
    width: 250px;


  }
}

@media screen and (max-width: 760px) {
  .tour-choose__price {
    width: 280px;
  }
}

@media screen and (max-width: 500px) {
  .tour-choose__price {
    margin-top: 13px;
    width: 268px;
    height: 23px;
    font-size: 16px;
    line-height: 142%;
  }
}