.reviews__text-card {
  margin: 0;
  margin-top: 40px;
  width: 510px;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #1B1F2B;

}

@media screen and (max-width: 1250px) {
  .reviews__text-card {
    width: 470px;

  }
}


@media screen and (max-width: 1024px) {
  .reviews__text-card {
    width: 380px;

  }
}

@media screen and (max-width: 1000px) {
  .reviews__text-card {

    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .reviews__text-card {
    margin-top: 20px;
    width: 285px;
    font-size: 16px;
    line-height: 142%;
  }
}