.tour-history__card {

  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;


}


.tour-history__card:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.tour-history__card:hover~.tour-history__card-link {
  background: #286562;
  border-radius: 50px;
  font-size: 23px;
  height: 30px;
  width: 157px;
}