.tour-history__card {
  width: 100%;
  height: 567px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50px;
  position: relative;
  margin-bottom: 50px;
}


.tour-history__card:nth-of-type(3) {
  margin: 0;
}



@media screen and (max-width: 1024px) {
  .tour-history__card {
    width: 918px;

  }
}

@media screen and (max-width: 360px) {
  .tour-history__card {
    width: 318px;
    height: 445px;
    margin-bottom: 20px;
    border-radius: 20px;
  }
}