.tour-choose__category {
  margin: 0;
  display: inline-block;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 23px;
  line-height: 122%;
  color: #1B1F2B;
  margin-top: 35px;
  margin-right: 30px;
}

.tour-choose__category:first-of-type {
  color: #EFA501;
  border-bottom: 2px solid #EFA501;
}

.tour-choose__category:nth-of-type(5) {
  margin-right: 0;
}


.tour-choose__category:hover {
  color: black;
  border-bottom: 2px solid black;
}


@media screen and (max-width: 360px) {
  .tour-choose__category {
    margin: 0;
    margin-top: 30px;
    font-size: 16px;
    line-height: 142%;
    margin-right: 10px;
  }

  .tour-choose__category:nth-of-type(4) {
    margin-top: 10px;
  }

  .tour-choose__category:nth-of-type(5) {
    margin-top: 10px;
  }
}