.tour-history__card-li {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
}

@media screen and (max-width: 500px) {
  .tour-history__card-li {
    font-size: 16px;
    line-height: 142%;
  }
}