.tour-choose__subtitle {
  margin: 0;
  /*margin-top: 50px;*/
  width: 270px;
  height: 86px;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  color: #FFFFFF;
  position: absolute;
  top: 50px;
  left: 50px;
}

@media screen and (max-width: 1250px) {
  .tour-choose__subtitle {
    width: 250px;
  }
}

@media screen and (max-width: 1024px) {
  .tour-choose__subtitle {
    width: 350px;
    height: 43px;
  }
}



@media screen and (max-width: 1000px) {
  .tour-choose__subtitle {
    width: 250px;
    height: 86px;
  }
}

@media screen and (max-width: 760px) {
  .tour-choose__subtitle {
    width: 280px;
  }
}

@media screen and (max-width: 500px) {
  .tour-choose__subtitle {
    top: 25px;
    left: 25px;
    height: 28px;
    width: 268px;
    font-size: 23px;
    line-height: 120%;
  }
}