.tour-choose__subtitle {
  margin: 0;
  margin-top: 50px;
  width: 270px;
  height: 86px;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 122%;
  /* or 43px */


  /* White */

  color: #FFFFFF;
}



@media screen and (max-width: 1024px) {
  .tour-choose__subtitle {
    width: 350px;
    height: 43px;
  }
}

@media screen and (max-width: 360px) {
  .tour-choose__subtitle {
    margin-top: 25px;
    height: 28px;
    width: 268px;
    font-size: 23px;
    line-height: 120%;
  }
}