.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 419px;
  height: 100%;
  list-style: none;
}

@media screen and (max-width: 920px) {
  .footer__nav {
    height: 25px;
    margin-bottom: 20px;
  }
}


@media screen and (max-width: 500px) {
  .footer__nav {
    max-width: 314px;
    width: 100%;

  }
}