.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 419px;
  height: 28px;
  list-style: none;
}


@media screen and (max-width: 500px) {
  .footer__nav {
    max-width: 355px;
    width: 100%;

  }
}