.tour-assemble__checkbox-title {
  width: 1030px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 142%;
  letter-spacing: -0.01em;
  color: #A6A6A6;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
  .tour-assemble__checkbox-title {
    width: 798px;
  }
}