.tour-assemble__textarea-title {
  width: 1030px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #1B1F2B;
  display: flex;
  flex-direction: column;

}

@media screen and (max-width: 1024px) {
  .tour-assemble__textarea-title {
    width: 798px;

  }
}

@media screen and (max-width: 360px) {
  .tour-assemble__textarea-title {
    margin-top: 30px;
    width: 278px;
    height: 163px;
    font-size: 16px;
    line-height: 142%;
  }
}