.tour-history__card-logo {
  box-sizing: border-box;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
  text-decoration: none;
  height: 29px;

}

.tour-history__card-logo:hover {
  border-bottom: 2px solid white;
}

.tour-history__card-logo:active {
  color: #EFA501;
  border-bottom: 2px solid #EFA501;
}