.tour-choose__card {
  width: 370px;
  height: 531px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: scale 300ms ease;
}

.tour-choose__card:hover {
  scale: 1.1;
}

@media screen and (max-width: 1250px) {
  .tour-choose__card {
    width: 330px;
  }
}


@media screen and (max-width: 1024px) {
  .tour-choose__card {
    width: 450px;
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 360px) {
  .tour-choose__card {
    width: 318px;
    height: 318px;

  }
}