.tour-choose__card {
  width: 370px;
  height: 531px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media screen and (max-width: 1024px) {
  .tour-choose__card {
    width: 450px;
    background-size: 100% 100%;
  }
}