.tour-history__card-logos {
  width: 322px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 479px;
  right: 60px;
}

@media screen and (max-width: 1000px) {
  .tour-history__card-logos {
    top: 417px;
  }
}