.tour-history__card-text {
  margin-top: 37px;
  margin-left: 60px;
  width: 554px;
  height: 224px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #FFFFFF;
}