.tour-foto__foto {
  width: 442.5px;
  border-radius: 50px;
  object-fit: cover;
}



@media screen and (max-width: 1024px) {
  .tour-foto__foto {
    width: 314.67px;
  }
}

@media screen and (max-width: 360px) {
  .tour-foto__foto {
    width: 150px;
    height: 110px;
    border-radius: 20px;
  }
}