.reviews__text-card_type_margin {
  margin-top: 20px
}

@media screen and (max-width: 1250px) {
  .reviews__text-card_type_margin {
    margin-top: 10px;

  }
}

@media screen and (max-width: 360px) {
  .reviews__text-card_type_margin {
    margin-top: 25px;

  }
}