.tour-foto {
  padding-top: 135px;
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .tour-foto {
    width: 1024px;
  }
}