.tour-history__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  text-align: center;
  color: #1B1F2B;

}

@media screen and (max-width: 500px) {
  .tour-history__title {
    width: 319px;
    font-size: 34px;
    line-height: 112%;
  }
}