.email-block__subtitle {
  margin: 0;
  margin-top: 20px;
  width: 364px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  color: #A6A6A6;
}

@media screen and (max-width: 500px) {
  .email-block__subtitle {
    width: 291px;
    font-size: 16px;
    line-height: 142%;
    text-align: center;

  }
}