.tour-choose__head {
  width: 735px;
  margin-bottom: 110px;
}



@media screen and (max-width: 1000px) {
  .tour-choose__head {
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 500px) {
  .tour-choose__head {
    text-align: center;
    width: 290px;
    margin-bottom: 50px;
  }
}