.footer {
  margin-top: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 88px;
  background: #F4F0E9;
}



@media screen and (max-width: 1024px) {
  .footer {
    max-width: 1024px;

  }
}

@media screen and (max-width: 920px) {
  .footer {
    flex-direction: column;
    align-items: center;

  }
}

@media screen and (max-width: 500px) {
  .footer {
    width: 100%;
    margin-top: 75px;
    flex-direction: column;

  }
}