.tour-foto__title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 59px;
  line-height: 124%;
  text-align: center;
  color: #1B1F2B;
}

@media screen and (max-width: 360px) {
  .tour-foto__title {
    width: 318px;
    font-size: 34px;
    line-height: 112%;
  }
}