.header__title {
  margin: 0;
  margin-top: 149px;
  width: 768px;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 109%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}