.tour-history__text {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 100px;
  width: 418px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 142%;
  text-align: center;
  color: #A6A6A6;
}


@media screen and (max-width: 1000px) {
  .tour-history__text {
    max-width: 400px;
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  .tour-history__text {
    width: 319px;
    font-size: 16px;
    line-height: 142%;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}