.tour-foto__line-five-image {
  height: 301px;
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 30px;

}

@media screen and (max-width: 1250px) {
  .tour-foto__line-five-image {
    gap: 15px
  }
}


@media screen and (max-width: 1024px) {
  .tour-foto__line-five-image {
    gap: 20px;

  }
}

@media screen and (max-width: 360px) {
  .tour-foto__line-five-image {
    gap: 10px;
    height: 110px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}